<footer>
  <div class="container">
    <p class="text--l_grey">Did I manage to impress you? <a href="mailto:paulbird1993@gmail.com">Get in touch?</a></p>
  </div>
</footer>
{% if page.js-script %}
  <script src="{{ page.js-script | prepend: site.baseurl }}"></script>
{% endif %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39185942-1', 'auto');
  ga('send', 'pageview');

</script>
